* {
    box-sizing:border-box;
}

body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    border:1px solid red;
}

header {
    background-color: #666;
    padding: 3px;
    text-align: center;
    color: white;
    height:65px;
}

header div.logo {
    float:left;
    width:251px;
    height:auto;
    text-align: center;
    vertical-align:middle;
}

header div.mainmenu {
    float:left;
    text-align: center;
}

header div.topaction {
    float:right;
    height:auto;
    text-align: center;
}

section div:first-child {
    float: left;
    width: 251px;
    /*height: calc(100% - 65px);*/
    background: #ccc;
    padding: 20px;
}

section div:first-child ul {
    list-style-type: none;
    padding: 0;
}

section div:last-child {
    float: left;
    padding: 20px;
    width: calc(100% - 251px);
    background-color: #f1f1f1;
    /*height: calc(100% - 65px);*/
}

@media (max-width: 600px) {
    section div:first-child, section div:last-child {
        width: 100%;
        height: auto;
    }
}

/*251px*/

section:after {
    content:"";
    display:table;
    clear:both;
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}
